body{
    background-color:#2b2f31;
    color: #dcdad8;
}

#navigation {
    background-color: #2b2f31;
}

#navlink{
    color: #dcdad8;
}

#about{
  margin-bottom: 100px;
}

.projectdesc{
  text-align: justify;
}

#myName{
  margin-top: 5%;
  padding-top: 100px;
  margin-left: 35%;
}

#mydescdiv{
  margin-bottom: 50px;
}

#img01{
  min-width: 75%;
  min-height: 50%;
}

#weather{
    margin-bottom: 2%;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75%;
}

#projects{
  margin-top: 35px;
}

#projects img{
  width: 200px;
  height: 100px;
}

img:hover{
    opacity:0.7;
}

#self{
  opacity: 1;
  width: 300px;
  height: 300px;
  margin-left: 80px;
}

#mydesc{
  margin-top: 50px;
  text-align: justify;
  font-size: large;
}

#htmlskill{
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 25%;
}

#cssskill{
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 50px;
}

#skillsettitle{
  justify-content: center;
  margin-top: 50px;
  margin-left: 45%;
}

/* The Modal (background) */
.zoom {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #2b2f31; /* Fallback color */
  background-color: #2b2f31e1; /* Black w/ opacity */
}

/* Modal Content (image) */
.zoom-content {
  margin: auto;
  display: block;
  margin-top: 100px;
}

.zoom-content img{
  min-width: 300px;
  min-width: 300px;
  min-height:300px;
  max-height:300px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.zoom-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

hr{
    border: none;
    height: 2px;
    background-color: #3ab686; /*for IE browsers*/
    color: #3ab686;
}

#githubLinks{
    color: #3ab686;
    font-weight: bold;
}

#githubLinks:hover{
  color: #21694e;
}

#resume{
  margin-top: 50px;
  margin-bottom: 50px;
}